/.nyc_output/
/.vscode-test/
/coverage/
/out/
/resources/
/dist/
/src/compiling/ANTLR/grammar/
/src/test/test-files/
/verilog-examples/
/snippets/systemverilog.json
/syntaxes/systemverilog.tmLanguage*.json
/.eslintignore
/.gitignore
/.prettierignore
/.vscodeignore
/LICENSE
/results.xml
*.vsix
