/.nyc_output/
/.vscode-test/
/docs/
/out/
/src/compiling/ANTLR/grammar/
/src/test/ModuleInstantiator.test.ts
/src/test/test-files/
/verilog-examples/
/snippets/systemverilog.json
/syntaxes/systemverilog.tmLanguage*.json
/.eslintignore
/.gitignore
/.prettierignore
/.vscodeignore
/CHANGELOG.md
/LICENCE
/README.md
/results.xml
