.git/
.nyc_output/
.vscode/
.vscode-test/
resources/
!resources/sys_verilog_logo.png
out/**/*.map
out/test/
out/wip/
src/
syntaxes/systemverilog.tmLanguage.yaml
verilog-examples/
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
.vscodeignore
package-lock.json
tsconfig.json
results.xml
*.vsix
