.git/**
.nyc_output/**
.vscode/**
.vscode-test/**
resources/**
!resources/sys_verilog_logo.png
out/**/*.map
out/test/**
out/wip/**
src/**/*
**/.git
.gitignore
tsconfig.json
tslint.json
*.vsix
verilog-examples/**
vsc-extension-quickstart.md
